bin/*
obj/*
*.suo
**/**/*.template.*
**/**/Thumbs.db 
**/**/*.orig
**/**/.svn/**
**/**/**/.svn
**/**/**/**/.svn
**/**/**/**/**/.svn
**/**/**/**/**/**/.svn
**/**/**/**/**/**/**/.svn
**/**/**/*.orig
*.Publish.xml