<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="Web"/>
  </extensions>
  <targets>
    <!--Local log file-->
    <!--<target name="file" xsi:type="File" fileName="${basedir}/Logs/App.log" archiveAboveSize="2048000" />-->
    <!--Log table in database-->
    <target name="database" type="L2SDatabaseTarget" />
  </targets>
  <rules>
    <!--Everything gets written to the log file-->
    <!--<logger name="*" minLevel="Trace" writeTo="file" />-->
    <!--Only events of Info or "higher" get written to the database-->
    <logger name="*" minLevel="Info" writeTo="database" />
  </rules>
</nlog>